<form [id]="formId" [formGroup]="form" (ngSubmit)="onSaveConfirmation()" novalidate>
    <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" class="tab">
        <div fxLayout="row wrap" fxLayoutGap="10px" fxFlex="100%" fxFlex.sm="50%" fxLayout.lt-sm="column"
            fxFlex.xs="100%" fxLayoutAlign="flex-start">
            <mat-form-field class="example-form" appearance="fill">
                <mat-label>Title</mat-label>
                <input matInput formControlName="title" required />
            </mat-form-field>
            <br>
            <mat-form-field class="example-form" appearance="fill">
                <mat-label>Author</mat-label>
                <input matInput formControlName="author" required />
            </mat-form-field>
            <br>
            <mat-form-field class="example-form" appearance="fill">
                <mat-label>Description</mat-label>
                <input matInput formControlName="description" required />
            </mat-form-field>
            <br>
            <mat-form-field class="example-form" class="example-form" appearance="fill">
                <mat-label>Published Year</mat-label>
                <input matInput formControlName="publishedYear" required />
            </mat-form-field>
        </div>
    </div>
    <div style="padding-left: 45%;">
        <button mat-raised-button [disabled]="!this.form.valid" type="submit">Submit</button>
    </div>
</form>